* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    --bs-gutter-x: 0;
}
nav {
    padding: 40px 0;
    position: absolute;
    width: 100%;
}
nav ul li a {
    color: #fff !important;
    transition: 0.5s;
    padding: 10px 20px !important;
    text-decoration: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
nav ul li a:hover {
    color: #0c1bec !important;
    background-color: rgb(73, 238, 224);
}
.menu-icon {
    display: none;
}
.close-icon {
    display: none;
}
#banner {
    background: linear-gradient(rgba(49, 52, 84, 0.918), rgba(49, 52, 84, 0.918)), url(../images/psd.jpg) no-repeat center / cover;
    padding: 200px 0 100px 0;
}
.banner-main h1 {
    padding: 0 300px;
}
.banner-main p {
    padding: 0 250px;
}
.b-btn a {
    border: 2px solid #fff;
    transition: 0.5s;
}
.b-btn a:hover {
    background-color: #e84545;
    border: 2px solid transparent;
}
.a-items {
    padding: 0 30px;
    margin-top: 50px;
}

.p-items {
    width: 25%;
}
.p-items img {
    width: 100%;
    height: 100%;
}
.p-over {
    background-color: #e84545c9;
    transform: scale(0);
    transition: 0.5s;
}
.p-items:hover .p-over {
    transform: scale(1);
}
.i-size {
    font-size: 20px;
    color: rgb(73, 238, 224);
    border: 2px solid rgb(73, 238, 224);
    width: 50px;
}
.team-main {
    padding: 0 10px;
}
.team-items img {
    transition: 0.5s;
    width: 100%;
}
.team-items:hover img {
    transform: scale(1.1);
}
.uknown-main {
    background-color: #53354a;
    display: flex;
    flex-wrap: wrap;
}
.uknown-items {
    width: 50%;
}
.uknown-items img {
    width: 100%;
}
.uknown-text {
    padding: 40px;
}
.last-btn a {
    border: 2px solid #e84545;
}
.last-btn a:hover {
    background-color: #e84545;
    color: #fff;
}
footer {
    background-color: #3a3e64;
}
.footer-main {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
.footer-items {
    width: 33.33%;
    color: #fff;
}
.copy{
    background-color: #313454;
}